li {
    list-style-type: none;
}
.outer-content,element-list,help-message success-message,button-style,clickable button-style{
    font-size: 30px;
    line-height: 30px;
    color: #000;
}
body {
    background: linear-gradient(90deg, #f598a8, #f6edb2);
}